.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 2px solid gray;
    margin-right: 5px;
    margin-left: 15px;
}
.serach-container{
    background-color: rgba(0, 0, 0, 0.834);
    text-align: center;
    line-height: 40px;
}
.serach-container input{
    width: 500px;
    height: 20px;
}